<style>
    button:hover {
        background-color: #28223B !important;
    }
</style>
<section class="bg-dark-30" data-background="assets/images/section-4.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt mb-0">Manage Inspiration Links</h1>
            </div>
        </div>
    </div>
</section>
<h4 style="text-align: center">Temporary Page Format</h4>
<section class="module">
    <div class="container">
        <div class="row">
            <!--Remake this page afterwards-->

            <div class="col-sm-4">
                New Link Submission Form <br />
                Image Title: <br />
                <input type="text" style="background-color:black" ng-model="aGalleryCtrl.imageItem.imageTitle" /><br />
                Image Description:<br />
                <textarea rows="4" cols="40" style="background-color: black" ng-model="aGalleryCtrl.imageItem.description"></textarea><br />
                <div><md-button data-toggle="modal" data-target="#adminProfileImgUploadModal">Upload Image</md-button></div>
                <textarea cols="40" placeholder="{{aGalleryCtrl.$scope.currentCroppedImg}}"></textarea>

                <button class="btn btn-circle btn-b" type="button" ng-click="aGalleryCtrl.upload()">Submit New Image</button>
                <button class="btn btn-circle btn-b" type="button" ng-click="aGalleryCtrl.edit()">Save Changes</button>

            </div>
            <div class="col-sm-8">
                <div ng-repeat="item in aGalleryCtrl.item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                Image Title: {{item.imageTitle}} <br />
                                Image Description: {{item.description}}
                                <hr />
                                <button class="btn btn-circle btn-b" type="button" ng-click="aGalleryCtrl.setImageItem(item)">Edit</button>
                                <button class="btn btn-circle btn-b" type="button" ng-click="aGalleryCtrl.setImageItem(item); aGalleryCtrl.delete()">Delete</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img src="{{item.displayImg}}" height="200" />
                        </div>
                    </div>
                    <br />
                </div>
            </div>


        </div>
    </div>
</section>